@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alegreya', serif;
}

@layer base {
  :root {
    --background: 28 53% 92%;
    --foreground: 140 20% 15%;
    --card: 28 53% 98%;
    --card-foreground: 140 20% 15%;
    --popover: 28 53% 98%;
    --popover-foreground: 140 20% 15%;
    --primary: 140 29% 34%;
    --primary-foreground: 30 50% 95%;
    --secondary: 140 20% 80%;
    --secondary-foreground: 140 29% 34%;
    --muted: 28 30% 88%;
    --muted-foreground: 28 20% 40%;
    --accent: 16 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 28 30% 85%;
    --input: 28 30% 89%;
    --ring: 140 29% 34%;
    --radius: 0.8rem;
    --chart-1: 140 29% 34%;
    --chart-2: 16 70% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 140 10% 10%;
    --foreground: 28 53% 92%;
    --card: 140 10% 15%;
    --card-foreground: 28 53% 92%;
    --popover: 140 10% 15%;
    --popover-foreground: 28 53% 92%;
    --primary: 140 29% 44%;
    --primary-foreground: 30 50% 95%;
    --secondary: 140 10% 25%;
    --secondary-foreground: 30 50% 95%;
    --muted: 140 10% 20%;
    --muted-foreground: 28 30% 70%;
    --accent: 16 70% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 140 10% 25%;
    --input: 140 10% 25%;
    --ring: 140 29% 44%;
    --chart-1: 140 29% 44%;
    --chart-2: 16 70% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
